.navbar {
    width: 100%;
    box-sizing: border-box;
    background-color: blue;
}

ul {
    margin: 0;
}

.navbar_link {
    box-sizing: border-box;
    width: 100%;
    padding: 1% 10%;
}

.navbar_ul {
    list-style: none;
    display: flex;
}

.navbar_li {
    margin-left: 70px;
}

.navbar_li a {
    text-decoration: none;
    color: white;
    font-size: larger;
}

.fav_count {
    color: red;
    font-size: larger;
    margin-left: 10px;
}